*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d0bc25b0;
    font-size: 12px;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: #144902;
}

#container{
    width: 800px;
    margin: 10px auto;
    background-color: #49c829;
    box-shadow: 0 0 10px #ffffff;
    padding: 20px;
}

#header{
    height: 150px;
    background-color: #28a907e1;
    color: #fff;
    border-radius: 10px 10px 0 0 ;
}

#header h1{
    padding: 40px 0 0 30px;
    font-weight: 100;
}

#header h2{
    font-weight: 100;
    padding-left: 30px;
}

#menu{
    background-color: #d0bc25b0;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
}

#menu a{
    padding: 0 10px;
}

#wrapper{
    background-color: rgb(251, 214, 6);
    border-radius: 0 0 10px 10px;
}

#content{
    width: 500px;
    background-color: #fff;
    padding: 25px;
    border-radius: 0 0 0 10px;
    border-right: 1px solid black;
    display: inline-block;
    line-height: 22px;
}

#content img{
    width: 100%;
}

#content ul{
    padding-left: 30px;
}

#aside{
    display: inline-block;
    width: 190px;
    vertical-align: top;
    padding: 15px 5px 0 30px;
}

#aside a{
    display: block;
    padding: 5px 10px;
}

.clear{
    clear: both;
}

footer{
    text-align: center;
}
